{{ template "header" .}}
    <section class="content-section">
      <h2>{{.Title}}</h2>

      <fieldset>
        <legend><strong>Tag</strong></legend>
        <p>{{.Tag}}</p>
      </fieldset>

      <fieldset>
        <legend><strong>Name</strong></legend>
        <p>{{.Name}}</p>
      </fieldset>

      {{ if.Status.InProgress }}
      <fieldset>
        <legend><strong>Creation In Progress</strong></legend>
        <p>{{.Status.InProgress}}</p>
      </fieldset>
      {{ else }}
      <button onclick='location.href="/updates/{{$.Prod}}/{{$.Tag}}/{{$.Name}}/tail";'>Follow progress</button>
      {{ end }}
    </section>

    <section class="content-section">
      <h2>Rollout history</h3>
      <ul>
      {{ range .Rollouts }}
        <li><a href="/updates/{{$.Prod}}/{{$.Tag}}/{{$.Name}}/rollouts/{{.}}">{{.}}</a></li>
      {{ end }}
      </ul>
    </section>

    <section class="content-section">
      <h2>TUF Metadata</h3>
      <fieldset>
        <legend><strong>Root expiration</strong></legend>
        <p>{{index .Tuf "root.json" "signed" "expires"}}</p>
      </fieldset>
      <fieldset>
        <legend><strong>Snapshot expiration</strong></legend>
        <p>{{index .Tuf "snapshot.json" "signed" "expires"}}</p>
      </fieldset>
      <fieldset>
        <legend><strong>Timestamp expiration</strong></legend>
        <p>{{index .Tuf "timestamp.json" "signed" "expires"}}</p>
      </fieldset>
      <fieldset>
        <legend><strong>Targets expiration</strong></legend>
        <p>{{index .Tuf "targets.json" "signed" "expires"}}</p>
      </fieldset>
      <details>
        <summary role="button">Raw data</summary>
        <pre>{{ .TufJson }}</pre>
      </details>
    </section>


    {{ if gt (len .Status.Logs) 0 }}
    <section class="content-section">
      <details {{if .Status.InProgress }}open{{ end }}>
        <summary role="button">Logs of update creation</summary>
        {{if .Status.InProgress}}
        <p><em>Update creation is still in progress. Please refresh the page to see new logs.</em></p>
        {{ end }}
        <pre>{{.Status.Logs}}</pre>
      </details>
    </section>
    {{ end }}

{{ template "footer"}}
